.App {
  text-align: center;
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.satisfyWrapper {
  text-align: left;
  width: 75%;

}

.defaultSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: rgba(30, 30, 30);
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 5px 30px;
}

.blueSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: linear-gradient(90deg, 
    rgba(30,30,30,1) 0%, rgba(30,30,30,1) 50%, rgba(0,246,255,1) 100%);
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 5px 30px;
}

.redSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: linear-gradient(90deg, 
    rgba(255,0,0,1) 0%, rgba(30,30,30,1) 50%, rgba(30,30,30,1) 100%);
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 5px 30px;
}

.defaultSlider:hover {
  opacity: 1;
}

.defaultSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: white;
  cursor: pointer;
}

.defaultSlider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: white;
  cursor: pointer;
}

.blueSlider:hover {
  opacity: 1;
}

.blueSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgba(0,246,255,1);
  cursor: pointer;
}

.blueSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgba(0,246,255,1);
  cursor: pointer;
}

.redSlider:hover {
  opacity: 1;
}

.redSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgba(255,0,0,1);
  cursor: pointer;
}

.redSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgba(255,0,0,1);
  cursor: pointer;
}

.satisfiedBox {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.sendButton {
  margin-top: 50px;
  background-color: yellow;
  color: #282c34;
  width: 180px;
  height: 40px;
  border: 1px yellow solid;
  border-radius: 5px;;
}

.clearBtn {
  cursor: pointer;
  text-decoration: underline;
  margin-left: 30px;
}

.satisfyTitle {
  font-weight: 400;
  margin-bottom: 50px;;
}

.pdefaultSlider {
  color: rgba(100,100,100, 1);
}
